<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %marker %logger{10} - %msg%n</pattern>
    </encoder>
  </appender>
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>org.handwerkszeug.dns</Marker>
    <OnMatch>ACCEPT</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>org.handwerkszeug.dns.boundary</Marker>
    <OnMatch>ACCEPT</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>org.handwerkszeug.dns.lifecycle</Marker>
    <OnMatch>ACCEPT</OnMatch>
  </turboFilter>
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>org.handwerkszeug.dns.detail</Marker>
    <OnMatch>ACCEPT</OnMatch>
  </turboFilter>
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>